@model UserProfile

<div class="container">
    <h1>Il mio profilo Utente</h1>

    <h3>Informazioni utente</h3>

    <ul>
        <li>Nome: @Model.Name</li>
        <li>Cognome: @Model.Surname</li>
        <li>Età: @Model.Age</li>
    </ul>

</div>
